<div class="about-us">
    <p>About</p>
    <div class="item">
        <span class="icon"><i class="fa fa-info-circle"></i></span>
        <h6>About Us</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fa fa-comment"></i></span>
        <h6>Send Feedback</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fa fa-lock"></i></span>
        <h6>Privacy Policy</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fa fa-file-text"></i></span>
        <h6>Terms and Conditions</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fa fa-question-circle"></i></span>
        <h6>Need Help?</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fa fa-sign-out"></i></span>
        <h6>Logout</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
</div> 