<div class="account">
    <p>Account</p>
    <div class="item">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <h6>Booking History</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fas fa-inbox"></i></span>
        <h6>Inbox</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fas fa-bell"></i></span>
        <h6>Notification</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="item">
        <span class="icon"><i class="fas fa-search"></i></span>
        <h6>Find Friend</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
</div> 