{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
  <script defer src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <title>Document</title>
</head>

<body>
  <nav class="main-menu">
    <div>
      <div class="user-info">
        <img src="{% static 'images/user.jpg' %}" alt="user" />
        <p>{{form_data.username}}</p>
      </div>
      <ul>
        <li class="nav-item active">
          <a href="#">
            <i class="fa fa-user nav-icon"></i>
            <span class="nav-text">Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'index_view' %}">
            <i class="fa fa-map nav-icon"></i>
            <span class="nav-text">Discover</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa fa-arrow-trend-up nav-icon"></i>
            <span class="nav-text">Favorites</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa-solid fa-chart-simple nav-icon"></i>
            <span class="nav-text">Analytics</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'index_view' %}?favorites=true">
            <i class="fa fa-heart nav-icon"></i>
            <span class="nav-text">Favorites</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa-solid fa-pen-to-square nav-icon"></i>
            <span class="nav-text">Reviews</span>
          </a>
        </li>
      </ul>
    </div>

    <ul>
      <li class="nav-item">
        <a href="#">
          <i class="fa fa-gear nav-icon"></i>
          <span class="nav-text">Settings</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'logout_user' %}">
          <i class="fa fa-right-from-bracket nav-icon"></i>
          <span class="nav-text">Logout</span>
        </a>
      </li>
    </ul>
  </nav>

  <section class="content">
    <div class="left-content">
      <div class="search-and-check">
        <form class="search-box" method="GET" action="">
          <input type="text" name="query" placeholder="Search event..." value="{{ query }}" />
          <i class="bx bx-search" onclick="this.closest('form').submit();"></i>
        </form>
        <div class="interaction-control-mobile interactions">
          <i class="fa-regular fa-envelope notified"></i>
          <i class="fa-regular fa-bell notified"></i>
          <div class="toggle" onclick="switchTheme()">
            <div class="mode-icon moon">
              <i class="bx bxs-moon"></i>
            </div>
            <div class="mode-icon sun hidden">
              <i class="bx bxs-sun"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="header">
        <picture class="morning-img">
          <img class="header-mobile" src="{% static 'images/animated1_lite.png' %}" alt="" />
          <img class="header-tablet" src="{% static 'images/5.png' %}" alt="" />
          <img class="header-desktop" src="{% static 'images/animated2_lite.png' %}" alt="" />
        </picture>

        <picture class="night-img hidden">
          <img class="header-mobile" src="{% static 'images/animated1.png' %}" alt="" />
          <img class="header-tablet" src="{% static 'images/5_dark.png' %}" alt="" />
          <img class="header-desktop" src="{% static 'images/animated2_dark.png' %}" alt="" />
        </picture>
      </div>

      <div class="upcoming-events">
        <h1>Upcoming Events</h1>
        <div class="event-container">
          {% for event in events %}
          {% for event_id, like_status in user_likes.items %}
          {% if event_id == event.id %}
          <div class="card event-card">
            <div class="event-header">
              <img src="{{ event.image.url }}" alt="{{ event.name }}" />
              <p>{{ event.time }}</p>
              <i class="bx {% if like_status %} like-btn bxs-heart bounce-in liked {% else %} bx-heart like-btn {% endif %}"
                data-event-id="{{ event_id }}"
                data-liked="{% if user.is_authenticated %}true{% else %}false{% endif %}">
              </i>
            </div>
            <div class="event-content">
              <h2>{{ event.name }}</h2>
              <p>{{ event.place }}</p>
            </div>
            <div class="event-footer">
              <p style="background-color: {{ event.get_type_color }};">
                {{ event.type }}
              </p>
              <div class="btn-group">
                <button>Buy Ticket</button>
                <div class="share">
                  <button class="share-btn">
                    <i class="fa-solid fa-share"></i>
                  </button>
                  <ul class="popup">
                    <li>
                      <a href="https://twitter.com/intent/tweet?text={{ event.name }}%20at%20{{ event.place }}%20on%20{{ event.time }}&url={{ request.build_absolute_uri }}" style="color: rgb(79, 153, 213)">
                        <i class="bx bxl-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://api.whatsapp.com/send?text={{ event.name }}%20at%20{{ event.place }}%20on%20{{ event.time }}%20{{ request.build_absolute_uri }}" style="color: rgb(34, 173, 34)">
                        <i class="bx bxl-whatsapp"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready(function () {
          $(".like-btn").click(function () {
            var btn = $(this);
            var eventId = btn.data("event-id");

            $.ajax({
              url: '{% url "like_event" event_id=0 %}'.replace(0, eventId),
              type: "POST",
              dataType: "json",
              headers: { "X-CSRFToken": "{{ csrf_token }}" },
              success: function (response) {
                if (response.message === "Liked") {
                  btn.addClass("liked");
                } else if (response.message === "Unliked") {
                  btn.removeClass("liked");
                }
              },
            });
          });
        });
      </script>

      <div class="reviews">
        <h1>Past Event Reviews</h1>
        <div class="review-container">
          <div class="card review-card">
            <h2>Metal Sculpture Workshop</h2>
            <div class="ratings">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <p>
              The metal sculpture workshop was a bit tough because shaping the
              metal was harder than expected. It would have been better with
              simpler instructions on how to mold the material.
            </p>
          </div>

          <div class="card review-card">
            <h2>Electro Groove Night</h2>
            <div class="ratings">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </div>
            <p>
              The Electro Groove Night was so much fun! The music was awesome,
              and everyone had a great time dancing – a fantastic night out
              for sure!
            </p>
          </div>

          <div class="card review-card">
            <h2>Wimbledon Championships - 2023 (Final)</h2>
            <div class="ratings">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <p>
              Watching the Wimbledon final between Novak Djokovic and Carlos
              Alcaraz was so exciting! The intense match and incredible skills
              of the players made it a thrilling experience that I'll always
              remember.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="right-content">
      <div class="interaction-control interactions">
        <i class="fa-regular fa-envelope notified"></i>
        <i class="fa-regular fa-bell notified"></i>
        <div class="toggle" onclick="switchTheme()">
          <div class="mode-icon moon">
            <i class="bx bxs-moon"></i>
          </div>
          <div class="mode-icon sun hidden">
            <i class="bx bxs-sun"></i>
          </div>
        </div>
      </div>

      <div class="analytics">
        <h1>Analytics</h1>
        <div class="analytics-container">
          <div class="total-events">
            <div class="event-number card">
              <h2>Past Events</h2>
              <p>20</p>
              <i class="bx bx-check-circle"></i>
            </div>
            <div class="event-number card">
              <h2>Upcoming Events</h2>
              <p>3</p>
              <i class="bx bx-timer"></i>
            </div>
          </div>

          <div class="chart" id="doughnut-chart">
            <h2>Distribution of Attended Events</h2>
            <canvas id="doughnut"></canvas>
            <ul></ul>
          </div>
        </div>
      </div>

      <script>
        const chart = document.getElementById("doughnut");
        const eventList = document.querySelector(".chart ul");

        var data = {
          labels: [
            "Workshop",
            "Theatre",
            "Concert",
            "Sport",
          ],
          datasets: [
            {
              label: "# of Events",
              data: [
                "{{ event_type_counts.Concert }}",
                "{{ event_type_counts.Theatre }}",
                "{{ event_type_counts.Workshop }}",
                "{{ event_type_counts.Sport }}",
              ],
              backgroundColor: [
                "#b31a4d", // Workshop
                "#4a920f", // Theatre
                "#582bac", // Concert
                "#e48e2c", // Sport
              ],
              offset: 10,
              hoverOffset: 8,
              hoverBorderColor: "#9a999b",
              borderWidth: 1,
            },
          ],
        };

        new Chart(chart, {
          type: "doughnut",
          data: data,
          options: {
            responsive: true,
            plugins: {
              legend: {
                display: true,
                labels: {
                  color: "#8b8a96",
                  font: {
                    size: 12,
                    weight: 600,
                  },
                },
              },
            },
            layout: {
              padding: {
                bottom: 10,
              },
            },
          },
        });

        const chartData = {
          labels: ["Concert", "Theatre", "Workshop", "Sport"],
          data: [
            "{{ event_type_percentages.Concert }}",
            "{{ event_type_percentages.Theatre }}",
            "{{ event_type_percentages.Workshop }}",
            "{{ event_type_percentages.Sport }}",
          ]
        };

        console.log(chartData); // Add this line to debug the actual values

        function population() {
          chartData.labels.forEach((label, i) => {
            let eachEvent = document.createElement("li");
            eachEvent.innerHTML = `${label}: <span class="percentage">${chartData.data[i]}%</span> `;
            eventList.appendChild(eachEvent);
          });
        }

        population(); // Make sure to call the function
      </script>


      <div class="contacts">
        <h1>Contacts</h1>
        <div class="contacts-container">
          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/1.jpg' %}" alt="" />
              <p>Matt favored <span>Jazz Fusion Night</span></p>
            </div>
            <small>1 hour ago</small>
          </div>

          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/2.jpg' %}" alt="" />
              <p>
                Bella bought a ticket for
                <span>Acoustic Serenade Under the Stars</span>
              </p>
            </div>
            <small>4 hours ago</small>
          </div>

          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/3.jpg' %}" alt="" />
              <p>
                Lucas bought a ticket for
                <span>Wimbledon Championships - 2024</span>
              </p>
            </div>
            <small>1 day ago</small>
          </div>

          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/4.jpg' %}" alt="" />
              <p>
                Sophia favored
                <span>Clay Sculpting Class</span>
              </p>
            </div>
            <small>1 day ago</small>
          </div>

          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/5.jpg' %}" alt="" />
              <p>
                Kate bought a ticket for
                <span>Latin Rhythms Fusion</span>
              </p>
            </div>
            <small>3 day ago</small>
          </div>

          <div class="contact-status">
            <div class="contact-activity">
              <img src="{% static 'images/6.jpg' %}" alt="" />
              <p>
                Ben favored
                <span>Harry Potter Film Concert Series</span>
              </p>
            </div>
            <small>6 day ago</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>