{% extends 'index.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div id="offcanvas" class="offcanvas">
    <div class="profile-header">
      <a href="#" id="close-btn">&times;</a>
      <div class="head-img">
        <img src="{% static 'images/user.png' %}" alt="">
      </div>
      <div class="user-data">
        <img src="{% static 'images/user.jpg' %}" alt="">
      </div>
      <div class="user-name">
        <p>Sandesh Pol</p>
        <span> <i class="fa fa-map-marker-alt"></i>
          Pimpri Chinchwad, India</span>
        <button>Edit Profile</button>
        <div class="share-icon">
          <i class="fas fa-share"></i>
        </div>
      </div>
    </div>

    <div class="account">
      <p>Account</p>

      <div class="item">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span> <h6>Booking History</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fas fa-inbox"></i></span> <h6>Inbox</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fas fa-bell"></i></span><h6> Notification</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fas fa-search"></i></span><h6> Find Friend</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>

    <div class="about-us">
      <p>About</p>
      <div class="item">
        <span class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></span> <h6>About Us</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span> <h6>Send Feedback</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></i></span> <h6>Privacy Policy</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa fa-file-text" aria-hidden="true"></i></i></span> <h6>Terms and Conditions</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></i></span> <h6>Logout</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span> <h6>Booking History</h6>
        <span class="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>
    
  </div>
{% endblock %}
