{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body style="background-image: url('{% static 'images/loginBG.jpg' %}')">
    <section>
            <form method="post">
                {% csrf_token %} 
                <h1>Set New Password</h1>
                {% if messages %}
                    {% for message in messages %}
                        <div style="text-align: center; color: rgb(96 10 106); margin-top: 20px;"  class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="new_password" required>
                    <label for="">New Password</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="confirm_password" required>
                    <label for="">Conform Password</label>
                </div>
                
                <button type="submit">Reset Password</button>
                
            </form>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>
