{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body style="background-image: url('{% static 'images/loginBG.jpg' %}')">
    <section class="box">
            <form method="post">
                {% csrf_token %} 
                <h1>OTP Varifiction</h1>
                {% if messages %}
                    {% for message in messages %}
                        <div style="text-align: center; color: rgb(96 10 106); margin-top: 20px;"  class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="forget">
                    <p>We will send you OTP on email</p>
                </div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" required>
                    <label for="">Enter your email</label>
                </div>

                <button type="submit">Get OTP</button>

            </form>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>
