{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body style="background-image: url('{% static 'images/loginBG.jpg' %}')">
    <section>
        <form method="post">
            <h1>Registration</h1>
            {% csrf_token %} 
            {% if messages %}
                <div style="color: rgb(96 10 106); margin-top: 20px; text-align: center;font-size: 14px; margin-bottom: -15px;" class="messages">
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="username" required>
                <label for="">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>  
                <input type="email" name="email" required>
                <label for="">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password1" required>
                <label for="">Password</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password2" required>
                <label for="">Confirm Password</label>
            </div>
            <button type="submit">Sign up</button>
            <div class="register">
                <p>Already have an account? <a href="{% url 'login_user' %}">Login</a></p>
            </div>
        </form>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>


